doctype html
html
	head
		title syslogng-web for #{db.host}
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body

		div.navbar.navbar-default(role='navigation')
			div.navbar-header
				a.navbar-brand(href='#{homepage}', rel='external', target='_blank') #{name} #{version} 
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='https://github.com/nlaplante/syslogng-web', rel='external', target='_blank') View on GitHub
					li
						a(href='https://github.com/nlaplante/syslogng-web/issues', rel='external', target='_blank') Report an issue

		div.container(ng-app='syslogng-web')
			block content
				
		footer
			div.container
				p
					a(href="#{homepage}", rel="external") #{name} #{version} 
					&mdash; released under a #{license} license
					
				ul.list-inline
					li
						a(href="http://angularjs.org", rel="external")
							img(src="images/icon-angular.png", title="AngularJS", width="48", height="48")
					li
						a(href="http://nodejs.org", rel="external")
							img(src="images/icon-node.png", title="NodeJS", width="48", height="48")
					li
						a(href="http://mongodb.org", rel="external")
							img(src="images/icon-mongodb.png", title="MongoDB", width="48", height="48")

		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')		
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-sanitize.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-cookies.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/module.js')
		script(src='/javascripts/services.js')
		script(src='/javascripts/controllers.js')
		script(src='/javascripts/filters.js')
		script(src='/javascripts/directives.js')		
		script(src='/javascripts/service/MongoLogMessageSource.js')
		script(src='/javascripts/app.js')
		
