doctype 5
html
	head
		title syslogng-web for #{db.host}
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel='stylesheet', href='/components/bootstrap.css/css/bootstrap.min.css')
		link(rel='stylesheet', href='/components/bootstrap.css/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/components/animate.css/animate.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		div.container-fluid(ng-app='syslogng-web')
			block content
				
		footer
			div.container-fluid
				a(href="#{homepage}", rel="external") #{name} #{version} 
				&mdash; released under a #{license} license

		script(src='/components/jquery/jquery.min.js')
		script(src='/components/bootstrap.css/js/bootstrap.min.js')
		script(src='/components/angular/angular.min.js')
		script(src='/components/underscore/underscore-min.js')
		script(src='/components/fuse.js/fuse.min.js')
		script(src='/components/fuzzy-search/fuzzy-min.js')
		script(src='/components/lunr.js/lunr.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/module.js')
		script(src='/javascripts/services.js')
		script(src='/javascripts/controllers.js')
		script(src='/javascripts/filters.js')
		script(src='/javascripts/app.js')
		
