doctype html
html
	head
		title syslogng-web for #{db.host}
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css')
		link(rel='stylesheet', href='/components/animate.css/animate.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body

		div.navbar.navbar-default(role='navigation')
			div.navbar-header
				a.navbar-brand(href='#{homepage}', rel='external', target='_blank') #{name} #{version} 
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='https://github.com/nlaplante/syslogng-web', rel='external', target='_blank') View on GitHub
					li
						a(href='https://github.com/nlaplante/syslogng-web/issues', rel='external', target='_blank') Report an issue

		div.container(ng-app='syslogng-web')
			block content
				
		footer
			div.container
				a(href="#{homepage}", rel="external") #{name} #{version} 
				&mdash; released under a #{license} license

		script(src='/components/jquery/jquery.min.js')
		script(src='/components/bootstrap.css/js/bootstrap.min.js')
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-route/angular-route.min.js')
		script(src='/components/angular-animate/angular-animate.min.js')
		script(src='/components/angular-sanitize/angular-sanitize.min.js')
		script(src='/components/underscore/underscore-min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/module.js')
		script(src='/javascripts/services.js')
		script(src='/javascripts/controllers.js')
		script(src='/javascripts/filters.js')
		script(src='/javascripts/service/MongoLogMessageSource.js')
		script(src='/javascripts/app.js')
		
